@import url("fonts/helvetica/stylesheet.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  color: #e4e4e4;
  font-family: "Helvetica Now Display", sans-serif;
  -webkit-tap-highlight-color: rgba(255, 51, 0, 0.062745098);
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

.noised, #index_main > #index_part_2 > #index_part_2_content_wrapper > #index_part_2_content > .index_part_2_box, body {
  overflow: hidden;
}
.noised::before, #index_main > #index_part_2 > #index_part_2_content_wrapper > #index_part_2_content > .index_part_2_box::before, body::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 15%;
  background: #000000;
  filter: url(#noiseFilter);
}

html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  height: 250vh;
  width: 100%;
  background-color: #030303;
  padding-top: 5rem;
}

@keyframes godrays {
  from {
    background-position: 50% 50%, 50% 50%;
  }
  to {
    background-position: 350% 50%, 350% 50%;
  }
}
#godrays {
  display: none;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  --stripes: repeating-linear-gradient( 100deg, #fff 0%, #fff 7%, transparent 10%, transparent 12%, #fff 16% );
  --rainbow: repeating-linear-gradient( 100deg, #9a9a9a 10%, #141414 15%, #9a9a9a 20%, #8f8f8f 25%, #9a9a9a 30% );
  background-image: var(--stripes), var(--rainbow);
  background-size: 300%, 200%;
  background-position: 50% 50%, 50% 50%;
  filter: invert(100%);
  -webkit-mask-image: radial-gradient(ellipse at 100% 0%, rgba(0, 0, 0, 0.219) 30%, transparent 70%);
          mask-image: radial-gradient(ellipse at 100% 0%, rgba(0, 0, 0, 0.219) 30%, transparent 70%);
  pointer-events: none;
  opacity: 0.3;
  z-index: -1;
}

#godrays::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--stripes), var(--rainbow);
  background-size: 200%, 100%;
  animation: godrays 80s linear infinite;
  background-attachment: fixed;
  mix-blend-mode: difference;
}

nav {
  position: fixed;
  top: 0;
  height: 4rem;
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  z-index: 10;
}
nav > #nav_left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
nav > #nav_left > #nav_logo {
  height: 1.8rem;
  aspect-ratio: 1/1;
}
nav > #nav_left > #nav_logo > svg > g > path {
  fill: #fff;
  stroke: #fff;
  stroke-width: 1.7px;
}
nav > #nav_left > #nav_name {
  height: 1.8rem;
  display: flex;
  align-items: center;
  line-height: 0%;
  font-size: 1.4rem;
  font-weight: 400;
  color: #fff;
}
nav > #nav_right {
  display: flex;
  align-items: center;
  gap: 2rem;
}
nav > #nav_right > #lang_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
nav > #nav_right > #lang_button > span:nth-child(1) {
  color: #ff3300;
}
nav > #nav_right > button {
  width: 3rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
nav > #nav_right > button rect {
  fill: #e4e4e4;
  stroke: #e4e4e4;
  stroke-width: 1px;
}

menu {
  width: 100%;
  height: 0;
  position: fixed;
  bottom: 0;
  z-index: 2;
  transition-delay: 2s !important;
  transition: 0.1s;
}
menu > #menu_bg {
  height: 100%;
  display: flex;
}
menu > #menu_bg > div {
  width: 20%;
  height: 0;
  background-color: #030303;
  transition: 0.7s;
  transition-timing-function: cubic-bezier(0.72, 0, 0.18, 1);
  overflow: hidden;
}
menu > #menu_bg > div:nth-child(1) {
  transition-delay: 0.1s;
}
menu > #menu_bg > div:nth-child(2) {
  transition-delay: 0.2s;
}
menu > #menu_bg > div:nth-child(3) {
  transition-delay: 0.3s;
}
menu > #menu_bg > div:nth-child(4) {
  transition-delay: 0.4s;
}
menu > #menu_bg > div:nth-child(5) {
  transition-delay: 0.5s;
}
menu > #menu_bg > div::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  opacity: 3%;
  background: #000000;
  filter: url(#noiseFilter);
}
menu.opened_menu {
  transition-delay: 0.1s !important;
  height: 100vh;
}
menu.opened_menu > #menu_bg > div {
  height: 100%;
}

main {
  padding: 1rem;
}

#index_main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
#index_main > #index_part_1 {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}
#index_main > #index_part_1 > h1 {
  font-size: 7.5vw;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}
#index_main > #index_part_1 > h1 > span {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
}
#index_main > #index_part_1 > h1 ion-icon {
  --ionicon-stroke-width: 26px;
  padding-bottom: 0.3rem;
  color: #ff3300;
}
#index_main > #index_part_2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 5rem;
}
#index_main > #index_part_2 > h1 {
  font-size: 1.2rem;
  font-weight: 500;
  color: #474747;
  padding: 0 0.5rem;
}
#index_main > #index_part_2 > #index_part_2_content_wrapper {
  height: 100%;
}
#index_main > #index_part_2 > #index_part_2_content_wrapper > #index_part_2_content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  position: relative;
}
#index_main > #index_part_2 > #index_part_2_content_wrapper > #index_part_2_content > .index_part_2_box {
  min-width: 20vw !important;
  padding: 1.2rem 1rem;
  border-radius: 4px;
  background: #030303;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.11);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#index_main > #index_part_2 > #index_part_2_content_wrapper > #index_part_2_content > .index_part_2_box > .index_part_2_box_header {
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  gap: 1rem;
}
#index_main > #index_part_2 > #index_part_2_content_wrapper > #index_part_2_content > .index_part_2_box > .index_part_2_box_header > .index_part_2_box_header_left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  line-height: 110%;
}
#index_main > #index_part_2 > #index_part_2_content_wrapper > #index_part_2_content > .index_part_2_box > .index_part_2_box_header > .index_part_2_box_header_left > span {
  color: #474747;
}
#index_main > #index_part_2 > #index_part_2_content_wrapper > #index_part_2_content > .index_part_2_box > .index_part_2_box_header > .index_part_2_box_header_left > h2 {
  text-wrap: nowrap;
}
#index_main > #index_part_2 > #index_part_2_content_wrapper > #index_part_2_content > .index_part_2_box > .index_part_2_box_header > .index_part_2_box_header_right {
  aspect-ratio: 1/1;
}
#index_main > #index_part_2 > #index_part_2_content_wrapper > #index_part_2_content > .index_part_2_box > .index_part_2_box_header > .index_part_2_box_header_right > svg {
  height: 100%;
  fill: #ff3300;
  stroke: #ff3300;
  stroke-width: 10px;
}
#index_main > #index_part_2 > #index_part_2_content_wrapper > #index_part_2_content > .index_part_2_box > .index_part_2_box_content {
  font-size: 0.9rem;
  line-height: 120%;
}
#index_main > #index_part_2 > #index_part_2_content_wrapper > #index_part_2_content > .index_part_2_box > .index_part_2_box_content > p {
  color: #a5a5a5;
}
#index_main > #index_part_3 {
  margin-top: 3vh;
}
#index_main > #index_part_3 > #index_part_3_header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3vh;
}
#index_main > #index_part_3 > #index_part_3_header > h1 {
  width: 100%;
  font-size: 24vw;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e4e4e4;
}
#index_main > #index_part_3 > #index_part_3_header > p {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
}
#index_main > #index_part_3 > a {
  margin-top: 5vh;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72vw !important;
  aspect-ratio: 1/1;
}
#index_main > #index_part_3 > a > svg {
  fill: #ff3300;
  animation: part_3_svg_an 5s linear infinite;
}
@keyframes part_3_svg_an {
  0% {
    filter: drop-shadow(0 0 200px #ff3300) drop-shadow(0 0 100px #ff3300);
  }
  50% {
    filter: drop-shadow(0 0 200px #030303) drop-shadow(0 0 100px #030303);
  }
  100% {
    filter: drop-shadow(0 0 200px #ff3300) drop-shadow(0 0 100px #ff3300);
  }
}
#index_main > #index_part_3 > a > span {
  position: absolute;
  font-weight: 600;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}/*# sourceMappingURL=style.css.map */