@charset "UTF-8";
@import url("fonts/helvetica/stylesheet.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  color: #000000;
  font-family: "Helvetica Now Display", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

.noised, #index_dec_1, menu > #menu_bg > div, body {
  overflow: hidden;
}
.noised::after, #index_dec_1::after, menu > #menu_bg > div::after, body::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 15%;
  background: #000000;
  filter: url(#noiseFilter);
}

html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  background-color: #ffffff;
  padding-top: 5rem;
  padding-bottom: 70vh;
}
body::after {
  opacity: 10%;
}

@keyframes godrays {
  from {
    background-position: 50% 50%, 50% 50%;
  }
  to {
    background-position: 350% 50%, 350% 50%;
  }
}
#godrays {
  display: none;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  --stripes: repeating-linear-gradient( 100deg, #fff 0%, #fff 7%, transparent 10%, transparent 12%, #fff 16% );
  --rainbow: repeating-linear-gradient( 100deg, #9a9a9a 10%, #141414 15%, #9a9a9a 20%, #8f8f8f 25%, #9a9a9a 30% );
  background-image: var(--stripes), var(--rainbow);
  background-size: 300%, 200%;
  background-position: 50% 50%, 50% 50%;
  filter: invert(100%);
  -webkit-mask-image: radial-gradient(ellipse at 100% 0%, rgba(0, 0, 0, 0.219) 30%, transparent 70%);
          mask-image: radial-gradient(ellipse at 100% 0%, rgba(0, 0, 0, 0.219) 30%, transparent 70%);
  pointer-events: none;
  opacity: 0.8;
  z-index: 1;
}

#godrays::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--stripes), var(--rainbow);
  background-size: 200%, 100%;
  animation: godrays 80s linear infinite;
  background-attachment: fixed;
  mix-blend-mode: difference;
}

#updating_bar {
  position: fixed;
  width: 100vw;
  height: 2rem;
  top: 0;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  /* Çizgi Çerçevesi */
  /* Kayan İçerik */
  /* İki Kopyayı Yan Yana Getirme */
  /* Animasyon */
}
#updating_bar * {
  color: #ffffff;
}
#updating_bar .marquee {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  width: 101vw;
  margin-left: -0.6rem;
  height: 50px; /* Çizgi yüksekliği */
  display: flex;
}
#updating_bar .marquee-content {
  display: flex;
  align-items: center;
  animation: marquee 30s linear infinite;
}
#updating_bar .marquee-content > span {
  margin-right: 1rem;
}
#updating_bar .marquee-content span {
  display: inline-block;
  font-size: 1.1rem;
}
#updating_bar .marquee-content span > span {
  padding: 0 0.5rem;
  font-style: italic;
  font-weight: 700;
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

nav {
  position: fixed;
  top: 2rem;
  height: 4rem;
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  z-index: 10;
}
nav > #nav_left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
nav > #nav_left > #nav_logo {
  height: 1.8rem;
  aspect-ratio: 1/1;
}
nav > #nav_left > #nav_logo > svg > g > path {
  fill: #000000;
  stroke: #000000;
  stroke-width: 1.7px;
}
nav > #nav_left > #nav_name {
  height: 1.8rem;
  display: flex;
  align-items: center;
  line-height: 0%;
  font-size: 1.4rem;
  font-weight: 400;
  color: #fff;
}
nav > #nav_right {
  display: flex;
  align-items: center;
  gap: 2rem;
}
nav > #nav_right > #lang_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
nav > #nav_right > #lang_button > span:nth-child(1) {
  color: #ff4000;
}
nav > #nav_right > button {
  width: 3rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
nav > #nav_right > button rect {
  fill: #000000;
  stroke: #000000;
  stroke-width: 1px;
}
nav > #nav_right > #menu_button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.4rem;
}
nav > #nav_right > #menu_button > div {
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-color: #000000;
}
nav > #nav_right > #menu_button > div:nth-child(2) {
  width: 80%;
}
nav * {
  transition-delay: 1s;
  transition: 1s;
}
nav.nav_on_black * {
  transition-delay: 0.4s;
  color: #ffffff;
}
nav.nav_on_black * path, nav.nav_on_black * rect {
  stroke: #ffffff !important;
  fill: #ffffff !important;
}
nav.nav_on_black #menu_button > div {
  background-color: #ffffff !important;
}
nav.nav_on_black #menu_button > div:nth-child(2) {
  transition: 0.2s;
  display: none;
}

menu {
  width: 100%;
  height: 0;
  position: fixed;
  overflow: hidden;
  bottom: 0;
  z-index: 5;
  transition-delay: 1.2s !important;
  transition: 0.1s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 2rem;
}
menu > * {
  opacity: 0;
  transition: 0.2s;
  transition-delay: 0.4s;
}
menu * {
  color: #ffffff;
}
menu > #menu_bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  z-index: 1;
  opacity: 1 !important;
}
menu > #menu_bg > div {
  width: 20%;
  height: 0;
  background-color: #000000;
  transition: 0.7s;
  transition-timing-function: cubic-bezier(0.72, 0, 0.18, 1);
  overflow: hidden;
}
menu > #menu_bg > div::after {
  opacity: 50% !important;
}
menu > #menu_bg > div:nth-child(5) {
  transition-delay: 0.1s;
}
menu > #menu_bg > div:nth-child(4) {
  transition-delay: 0.2s;
}
menu > #menu_bg > div:nth-child(3) {
  transition-delay: 0.3s;
}
menu > #menu_bg > div:nth-child(2) {
  transition-delay: 0.4s;
}
menu > #menu_bg > div:nth-child(1) {
  transition-delay: 0.5s;
}
menu > #menu_bg > div::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  opacity: 20%;
  background: #000000;
  filter: url(#noiseFilter);
}
menu > #menu_content {
  padding-top: 22vh;
  width: 100%;
  flex-grow: 1;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  text-align: end;
  gap: 2rem;
}
menu > #menu_content > #menu_upper {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
menu > #menu_content > #menu_upper > a {
  font-weight: 500;
  font-size: 2rem;
  text-decoration: none;
  text-wrap: nowrap;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
menu > #menu_content > #menu_upper > a > span {
  text-align: end;
  display: inline-block;
  font-size: 0.8rem;
  color: #636363;
}
menu > #menu_content > #menu_upper > a ion-icon {
  display: none;
  position: absolute;
  right: -0.5rem;
  top: -0.7rem;
  font-size: 0.8rem;
  color: #636363;
}
menu > #menu_content > #menu_lower {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
menu > #menu_content > #menu_lower > p {
  font-size: 0.8rem;
  color: #afafaf;
}
menu > #menu_content > #menu_lower > #social_links {
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
}
menu > #menu_content > #menu_lower > #social_links > a svg {
  width: 2rem;
  fill: #ffffff;
}
menu > #menu_content > #menu_lower > #menu_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
}
menu > #menu_content > #menu_lower > #menu_footer > span {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
menu > #menu_content > #menu_lower > #menu_footer > span > span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
menu.opened_menu {
  transition-delay: 0.1s !important;
  height: 100vh;
}
menu.opened_menu > * {
  transition-delay: 0.6s !important;
  opacity: 1;
}
menu.opened_menu > #menu_bg > div {
  height: 100%;
}

main {
  padding: 1rem;
}

#index_main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
#index_main > #index_part_1 {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  height: 60vh;
  gap: 10vh;
  align-items: center;
}
#index_main > #index_part_1 > h1 {
  font-size: 15vw;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 110%;
}
#index_main > #index_part_1 > h1 > span:nth-child(1) {
  background-color: #000000;
  margin-bottom: 0.7rem;
  padding: 0 1rem;
  border-radius: 2px;
  position: relative;
}
#index_main > #index_part_1 > h1 > span:nth-child(1)::before {
  content: "TM";
  position: absolute;
  top: -2.5rem;
  right: 0.3rem;
  font-size: 0.8rem;
  font-weight: 900;
  color: #000000;
  z-index: 3;
  overflow: visible;
}
#index_main > #index_part_1 > h1 > span:nth-child(1)::after {
  opacity: 30% !important;
  z-index: 1;
}
#index_main > #index_part_1 > h1 > span:nth-child(1) > span {
  color: #ffffff;
  z-index: 3;
}
#index_main > #index_part_1 > h1 > span:nth-child(1) > span::after {
  opacity: 10% !important;
  z-index: 1;
}
#index_main > #index_part_1 > button {
  padding: 1rem 2.65rem;
  border: 1.5px solid #afafaf;
  background-color: #000000;
  font-weight: 400;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 6px;
  font-size: 1rem;
  position: relative;
}
#index_main > #index_part_1 > button::after {
  opacity: 1 !important;
}
#index_main > #index_part_1 > button > span {
  color: #ffffff;
  z-index: 2;
}
#index_main > #index_part_1 > button > span:nth-child(1) {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
  top: -2rem;
  text-wrap: nowrap;
  color: #ff4000;
  z-index: 2;
}
#index_main > #index_part_1 > button > span:nth-last-child(1) {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
  bottom: -1.2rem;
  padding: 0.3rem 0.5rem;
  border-radius: 4px;
  padding-top: 2rem;
  z-index: 1;
  background-color: #000000;
}
#index_main > #index_part_1 > button > span:nth-last-child(1) > ion-icon {
  color: #ff4000;
}
@media only screen and (min-width: 800px) {
  #index_main > #index_part_1 > h1 {
    font-size: 6vw;
    font-weight: 500;
  }
}
#index_main > #index_part_2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 5rem;
}
#index_main > #index_part_2 > h1 {
  font-size: 1.2rem;
  font-weight: 400;
  color: #afafaf;
  padding: 0 0.5rem;
}
#index_main > #index_part_2 > #index_part_2_content_wrapper {
  height: 100%;
}
#index_main > #index_part_2 > #index_part_2_content_wrapper > #index_part_2_content {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  width: 100%;
  position: relative;
}
#index_main > #index_part_2 > #index_part_2_content_wrapper > #index_part_2_content > .index_part_2_box {
  border-radius: 4px;
  background: transparent;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#index_main > #index_part_2 > #index_part_2_content_wrapper > #index_part_2_content > .index_part_2_box:nth-child(2) svg {
  height: 50% !important;
}
#index_main > #index_part_2 > #index_part_2_content_wrapper > #index_part_2_content > .index_part_2_box > .index_part_2_box_header {
  height: 3rem;
  display: flex;
  gap: 1rem;
}
#index_main > #index_part_2 > #index_part_2_content_wrapper > #index_part_2_content > .index_part_2_box > .index_part_2_box_header > .index_part_2_box_header_left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  line-height: 110%;
}
#index_main > #index_part_2 > #index_part_2_content_wrapper > #index_part_2_content > .index_part_2_box > .index_part_2_box_header > .index_part_2_box_header_left > span {
  color: #636363;
}
#index_main > #index_part_2 > #index_part_2_content_wrapper > #index_part_2_content > .index_part_2_box > .index_part_2_box_header > .index_part_2_box_header_left > h2 {
  text-wrap: nowrap;
}
#index_main > #index_part_2 > #index_part_2_content_wrapper > #index_part_2_content > .index_part_2_box > .index_part_2_box_header > .index_part_2_box_header_right {
  margin-left: 2rem;
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
}
#index_main > #index_part_2 > #index_part_2_content_wrapper > #index_part_2_content > .index_part_2_box > .index_part_2_box_header > .index_part_2_box_header_right > svg {
  height: 90%;
}
#index_main > #index_part_2 > #index_part_2_content_wrapper > #index_part_2_content > .index_part_2_box > .index_part_2_box_content {
  font-size: 0.9rem;
  line-height: 150%;
}
#index_main > #index_part_2 > #index_part_2_content_wrapper > #index_part_2_content > .index_part_2_box > .index_part_2_box_content > p {
  color: #636363;
}
#index_main > #index_part_2 > a {
  width: -moz-fit-content;
  width: fit-content;
  color: #ffffff;
  margin-top: 1rem;
  padding: 1rem;
  background-color: #000000;
  text-decoration: none;
  border-radius: 4px;
  display: flex;
  gap: 0.4rem;
  border: 1px solid #636363;
}
#index_main > #index_part_2 > a > ion-icon {
  color: #ffffff;
}
#index_main > #index_part_3 {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  gap: 7vh;
}
#index_main > #index_part_3 > #index_part_3_header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#index_main > #index_part_3 > #index_part_3_header > h1 {
  width: 100%;
  font-size: 32vw;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  text-wrap: nowrap;
}
#index_main > #index_part_3 > #index_part_3_header > p {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}
#index_main > #index_part_3 > #index_part_3_content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#index_main > #index_part_3 > #index_part_3_content > .index_part_3_box {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  width: 100%;
  border-bottom: 1px solid #636363;
  padding: 0.7rem 0;
  position: relative;
}
#index_main > #index_part_3 > #index_part_3_content > .index_part_3_box > span:nth-last-child(1) {
  position: absolute;
  bottom: 0;
  width: 100%;
}
#index_main > #index_part_3 > #index_part_3_content > .index_part_3_box > .index_part_3_box_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #c0c0c0;
  font-size: 0.8rem;
}
#index_main > #index_part_3 > #index_part_3_content > .index_part_3_box > .index_part_3_box_header > span:nth-child(1) {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3.7rem;
  font-weight: 700;
  color: #c0c0c0;
}
#index_main > #index_part_3 > #index_part_3_content > .index_part_3_box > .index_part_3_box_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#index_main > #index_part_3 > #index_part_3_content > .index_part_3_box > .index_part_3_box_content > p {
  z-index: 2;
  width: 100%;
  font-size: 1rem;
}
#index_main > #index_part_5 {
  margin-top: 15vh;
  min-height: 120vh;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
#index_main > #index_part_5 > div:nth-child(1) {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
}
#index_main > #index_part_5 > div:nth-child(1) > h1 {
  color: #000000;
  font-size: 4rem;
  font-weight: 600;
}
#index_main > #index_part_5 > div:nth-child(1) > div {
  overflow: hidden;
}
#index_main > #index_part_5 > div:nth-child(1) > div > span {
  display: inline-block;
  position: relative;
  color: #636363;
  animation: scroll_text_an 5s linear infinite;
}
#index_main > #index_part_5 > #part_5_content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}
#index_main > #index_part_5 > #part_5_content > #part_5_progress_bar {
  height: 10%;
  width: 2px;
  background-color: #ff4000;
  position: absolute;
  top: 0;
  left: 0;
  transition: 1s ease;
  border-radius: 2px;
  padding-left: 0 !important;
}
#index_main > #index_part_5 > #part_5_content > #part_5_progress_bar > span {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  width: 3rem;
  height: 2rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  left: 0;
  bottom: -1rem;
  background-color: #ff4000;
  z-index: 2;
  padding-left: 0.5rem;
}
#index_main > #index_part_5 > #part_5_content > div {
  padding-left: 0.9rem;
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #afafaf;
  gap: 1rem;
  transition: 1s;
}
#index_main > #index_part_5 > #part_5_content > div > span {
  z-index: 3;
}
#index_main > #index_part_5 > #part_5_content > div.active {
  filter: unset;
}
#index_main > #index_part_5 > #part_5_content > div.active > h4 {
  color: #000000;
  opacity: 1;
}
#index_main > #index_part_5 > #part_5_content > div > h4 {
  transition: 1s;
  font-size: 0.9rem;
  font-weight: 400;
  padding-left: 0.5rem;
  opacity: 0.1;
}
#index_main > #index_part_5 > #part_5_content > div:nth-child(1) {
  color: #ff4000;
  filter: unset;
}
#index_main > #index_part_5 > #part_5_content > div:nth-child(1) > h4 {
  font-weight: 500 !important;
  filter: unset;
  opacity: 1;
}
#index_main > #index_part_5 > #part_5_content > div:nth-child(1) > span {
  color: #afafaf;
}
#index_dec_1 {
  margin-top: 2rem;
  transform: translateX(-1rem);
  width: 100vw;
  background-color: #ff4000;
  padding: 0.6rem 0;
}
#index_dec_1 > span {
  color: #ffffff;
  font-size: 3.7vw;
  font-weight: 700;
  text-wrap: nowrap;
  text-align: center;
  width: 100%;
  display: inline-block;
}

footer {
  height: 45vh;
  width: 100%;
  background-color: #000000;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer > #footer_logo {
  position: absolute;
  left: 50%;
  top: -40%;
  transform: translateX(-50%);
  transform-origin: 0%;
  rotate: 45deg;
  background-color: #000000;
  width: 85%;
  aspect-ratio: 1/1;
  border-radius: 1rem;
}
footer > #footer_logo svg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: 10%;
  rotate: 45deg;
  stroke: #ffffff;
  width: 125%;
  fill: none;
  stroke-width: 0.02px;
  stroke-dashoffset: 1000;
  stroke-dasharray: 1000;
  animation: footer_logo_an 13s linear infinite;
}
@keyframes footer_logo_an {
  0% {
    stroke-dasharray: 33;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 66;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 33;
    stroke-dashoffset: 0;
  }
}
footer > #footer_name {
  color: #ffffff;
  font-size: 28.8vw;
  line-height: 70%;
  font-weight: 700;
}

#project_start_page {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}
#project_start_page > div {
  height: 100vh;
  padding: 1rem;
  padding-top: 20vh;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.5rem;
  text-align: left;
  font-weight: 500;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(100%);
}
#project_start_page > div > * > span {
  opacity: 0;
  transform: translateX(-1rem);
  transition: 0.4s;
}
#project_start_page > div > button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  background-color: #000000;
  color: #ffffff;
  border-radius: 4px;
  opacity: 0;
  transition: 0.5s;
}
#project_start_page > div > .back_button {
  position: absolute;
  left: 1rem;
  top: 12vh;
  opacity: 1;
  background-color: #000000;
}
#project_start_page > .project_page_part_active {
  transition: 0.5s;
  transform: translateX(0);
}
#project_start_page > .project_page_part_active > .text_part:nth-child(1) > span {
  opacity: 1;
  transform: translateX(0);
}
#project_start_page > .project_page_part_active > .text_part:nth-child(1) > span:nth-child(1) {
  transition-delay: 0.8s !important;
}
#project_start_page > .project_page_part_active > .text_part:nth-child(2) > span {
  opacity: 1;
  transform: translateX(0);
}
#project_start_page > .project_page_part_active > .text_part:nth-child(2) > span:nth-child(1) {
  transition-delay: 1.1s !important;
}
#project_start_page > .project_page_part_active > .text_part:nth-child(2) > span:nth-child(2) {
  transition-delay: 1.2s !important;
}
#project_start_page > .project_page_part_active > .text_part:nth-child(2) > span:nth-child(3) {
  transition-delay: 1.3s !important;
}
#project_start_page > .project_page_part_active > .text_part:nth-child(2) > span:nth-child(4) {
  transition-delay: 1.4s !important;
}
#project_start_page > .project_page_part_active > .text_part:nth-child(2) > span:nth-child(5) {
  transition-delay: 1.5s !important;
}
#project_start_page > .project_page_part_active > .text_part:nth-child(2) > span:nth-child(6) {
  transition-delay: 1.6s !important;
}
#project_start_page > .project_page_part_active > .text_part:nth-child(2) > span:nth-child(7) {
  transition-delay: 2s !important;
}
#project_start_page > .project_page_part_active > .text_part:nth-child(2) > span:nth-child(8) {
  transition-delay: 2s !important;
}
#project_start_page > .project_page_part_active > .text_part:nth-child(2) > span:nth-child(9) {
  transition-delay: 2.1s !important;
}
#project_start_page > .project_page_part_active > .text_part:nth-child(2) > span:nth-child(10) {
  transition-delay: 2.2s !important;
}
#project_start_page > .project_page_part_active > .text_part:nth-child(2) > span:nth-child(11) {
  transition-delay: 2.3s !important;
}
#project_start_page > .project_page_part_active > .text_part:nth-child(2) > span:nth-child(12) {
  transition-delay: 2.4s !important;
}
#project_start_page > .project_page_part_active > .text_part:nth-child(2) > span:nth-child(13) {
  transition-delay: 2.5s !important;
}
#project_start_page > .project_page_part_active > .text_part:nth-child(2) > span:nth-child(14) {
  transition-delay: 2.6s !important;
}
#project_start_page > .project_page_part_active > .text_part:nth-child(2) > span:nth-child(15) {
  transition-delay: 2.7s !important;
}
#project_start_page > .project_page_part_active > .text_part:nth-child(2) > span:nth-child(16) {
  transition-delay: 2.8s !important;
}
#project_start_page > .project_page_part_active > .text_part:nth-child(2) > span:nth-child(17) {
  transition-delay: 2.9s !important;
}
#project_start_page > .project_page_part_active > .text_part:nth-child(3) > span {
  opacity: 1;
  transform: translateX(0);
}
#project_start_page > .project_page_part_active > .text_part:nth-child(3) > span:nth-child(1) {
  transition-delay: 3.1s !important;
}
#project_start_page > .project_page_part_active > .text_part:nth-child(3) > span:nth-child(2) {
  transition-delay: 3.2s !important;
}
#project_start_page > .project_page_part_active > .text_part:nth-child(3) > span:nth-child(3) {
  transition-delay: 3.3s !important;
}
#project_start_page > .project_page_part_active > .text_part:nth-child(3) > span:nth-child(4) {
  transition-delay: 3.4s !important;
}
#project_start_page > .project_page_part_active > .text_part:nth-child(3) > span:nth-child(5) {
  transition-delay: 3.5s !important;
}
#project_start_page > .project_page_part_active > .text_part:nth-child(3) > span:nth-child(6) {
  transition-delay: 3.6s !important;
}
#project_start_page > .project_page_part_active > .text_part:nth-child(3) > span:nth-child(7) {
  transition-delay: 3.7s !important;
}
#project_start_page > .project_page_part_active > .text_part:nth-child(3) > span:nth-child(8) {
  transition-delay: 3.8s !important;
}
#project_start_page > .project_page_part_active > .text_part:nth-child(3) > span:nth-child(9) {
  transition-delay: 3.9s !important;
}
#project_start_page > .project_page_part_active > .text_part:nth-child(3) > span:nth-child(10) {
  transition-delay: 4s !important;
}
#project_start_page > .project_page_part_active > button {
  opacity: 1;
  transform: translateX(0);
}
#project_start_page > .project_page_part_active#project_page_part_1 > button {
  transition-delay: 4.3s !important;
}
#project_start_page > .project_page_part_passive {
  transition: 0.5s;
  transform: translateX(-100%);
}/*# sourceMappingURL=style.css.map */